---
import Layout from "../layouts/Layout.astro";
import aboutUsImg from "/AboutUs/about-us.svg"
import arrow from "/AboutUs/arrow-icon.svg"
---

<div class="w-full bg-[#0C1030] box-border flex justify-between flex-col md:flex-col xl:flex-row lg:flex-row">
    <div class=" w-full flex align-center p-16 md,lg:p-20 md,lg,xl:w-1/2">
        <img src = {aboutUsImg} alt="about-us" class="w-full"/>
    </div>
    <div class=" w-full flex flex-col items-start pt-16 pb-16 pr-16 pl-12 gap-8 md,lg,xl:w-1/2">
        <span class="text-5xl font-semibold leading-14 text-[#FCFCFD] ">About US</span>
        <span class="text-lg font-normal leading-7 text-[#D0D5DD]">
            Our free resume scanner ensures that your resume is ATS compliant and will be read correctly by Applicant Tracking Systems (ATS) and resume screening software. It provides detailed feedback on key criteria important to recruiters and hiring managers. Maximize your chances of getting noticed by using our resume scanner today. Don't let your resume be overlooked - get valuable insights and make a strong impression with our ATS compliance evaluation.
        </span>
        <button class="w-52 h-11 flex flex-row align-start px-4 py-2.5 gap-1.5 bg-[#6938EF] text-[#FFFFFF] rounded">Start Resume Test
            <img src={arrow} class="p-1"></img>
        </button>
    </div>
</div>

<style>
    .heading{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 57px;
        color: #FCFCFD;
    }
    .text-content{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #D0D5DD;
    }
    /* .main-content{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 64px 64px 64px 48px;
        gap: 32px;
    } */
    /* .container{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #0C1030;
        box-sizing: border-box;
    }
    .about-img-div{
        display: flex;
        align-items: center; ig unnecessary hai 
        padding: 77px;
    }
    .about-img{
        width: 100%;
    } */
    /*.button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px 16px; 
        gap: 8px;
        background: #6938EF;
        border-radius: 4px;
        width: 223px;
        height: 44px;
    }
    .arrow{
        padding: 5px
    } */
</style>