---
const card = [
    {
        "cardImg": "Cloud.svg",
        "cardAlt": "Cloud Icon - Representing Unlimited ATS Resume Scans",
        "cardTitle": "Unlimited ATS resume scans",
        "cardText": "You get several free uploads to our resume scanner. If you have different versions of your resumes (and you should, especially if you are applying to different industries!), you can test"
    },
    {
        "cardImg": "Free.svg",
        "cardAlt": "Free Icon - Representing Free Resume Scanner",
        "cardTitle": "Free Resume Scanner",
        "cardText": "You get several free uploads to our resume scanner. If you have different versions of your resumes (and you should, especially if you are applying to different industries!), you can test"
    },
    {
        "cardImg": "Chart.svg",
        "cardAlt": "Chart Icon - Representing Effective Resume Scanner",
        "cardTitle": "Effective Resume Scanner",
        "cardText": "You get several free uploads to our resume scanner. If you have different versions of your resumes (and you should, especially if you are applying to different industries!), you can test"
    },
]
---

<section class="py-5 px-4 sm:px-8 md:px-12 lg:px-16 flex flex-col sm:flex-row flex-wrap items-stretch gap-8 sm:gap-10 md:gap-14 lg:gap-16">
    { card.map(item => (
            <div class=" px-5 pt-7 pb-4 bg-[#24294D] flex-1 sm:basis-1/3 lg:basis-1/4 flex flex-col rounded-2xl gap-3">
                <img 
                    src={`/CardSection/${item.cardImg}`} alt={item.cardAlt}
                    class="px-2 pb-3 w-max h-16 sm:h-20 md:h-24 object-cover object-center select-none "
                />

                <h1 class="font-rubik text-white font-bold text-2xl sm:text-3xl">{item.cardTitle}</h1>
                <p class="block font-sans font-normal mt-auto text-gray-300 text-sm sm:text-base">{item.cardText}</p>
            </div>
        )) }
</section>