---

const card = [
    {
        "cardImg": "Cloud.svg",
        "cardAlt": "Cloud",
        "cardTitle": "Unlimited ATS resume scans",
        "cardText": "You get several free uploads to our resume scanner. If you have different versions of your resumes (and you should, especially if you are applying to different industries!), you can test"
    },
    {
        "cardImg": "Free.svg",
        "cardAlt": "Free",
        "cardTitle": "Free Resume Scanner",
        "cardText": "You get several free uploads to our resume scanner. If you have different versions of your resumes (and you should, especially if you are applying to different industries!), you can test"
    },
    {
        "cardImg": "Chart.svg",
        "cardAlt": "Chart",
        "cardTitle": "Effective Resume Scanner",
        "cardText": "You get several free uploads to our resume scanner. If you have different versions of your resumes (and you should, especially if you are applying to different industries!), you can test"
    },
]
---


<section class="relative w-full px-16 my-5 grid grid-cols-1 sm:grid-cols-4 lg:grid-cols-3 gap-16">
    {
        card.map(item => (
            <div class="h-auto pt-7 pb-4 px-5 flex flex-col col-span-1 sm:col-span-2 sm:last:col-start-2 lg:col-span-1 lg:last:col-start-auto bg-[#24294D] rounded-2xl">
                <img 
                    src={`/CardSection/${item.cardImg}`} alt={item.cardAlt}
                    class="ml-3 mb-5 w-max object-center h-16 sm:h-20 md:h-24 object-cover select-none"
                />

                <div class="relative flex flex-col justify-between h-[calc(100%-25%)]">
                    <h1 class="inline-block font-rubik text-white font-bold text-2xl sm:text-3xl">{item.cardTitle}</h1>
                    
                    <p class="font-sans font-normal text-gray-300 text-sm sm:text-base">{item.cardText}</p>
                </div>
            </div>
        ))
    }
</section>