---
import Layout from '../layouts/Layout.astro';
import Ats from '../components/Ats_resume/index.astro';
---

<Layout title="Resume Screener" description='Resume Screener' >
	<main>
		<Ats />
	</main>
</Layout>
