---
import Layout from '../layouts/Layout.astro';
import AboutUs from '../components/AboutUs/aboutUs.astro'
import GuidelinesSection from '../components/GuidelinesSection/index.astro';
import App from '../components/darshan/App.js';
---

<Layout title="Resume Screener" description='Resume Screener' >
	<main>
		<AboutUs />
		<GuidelinesSection />
	</main>
</Layout>
