---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/Hero-Section/index.astro'
---

<Layout title="Resume Screener" description='Resume Screener' >
	<main>
		<HeroSection/>
	</main>
</Layout>
