---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/Hero-Section/index.astro'
import Ats from '../components/Ats_resume/index.astro';
import AboutUs from '../components/AboutUs/aboutUs.astro'
import GuidelinesSection from '../components/GuidelinesSection/index.astro';
---

<Layout title="Resume Screener" description='Resume Screener' >
	<main>
		<HeroSection/>
		<AboutUs />
		<GuidelinesSection />
		<Ats />
	</main>
</Layout>
