---
import Layout from '../layouts/Layout.astro';
import ATSResumeTest from '../components/ATSResumeTest/index.astro'
---

<Layout title="Resume Screener" description='Resume Screener' >
	<main>
		<!-- <h1>Resume Screener</h1> -->
		<ATSResumeTest />
	</main>
</Layout>
