---
import Layout from '../layouts/Layout.astro';
import Card from '../components/CardSection/index.astro';
---

<Layout title="Resume Screener" description='Resume Screener' >
	<main>
		<Card />
	</main>
</Layout>
