<div class="bg-gradient-to-r from-[#0C1030] to-[#1b3092] py-10">
    <div class="w-[90%] mx-auto">
        <div
            class="border-solid border-[1px] border-[#2a292c] rounded-lg p-6 md:p-8 mb-16 bg-gradient-to-r from-[#222644] to-[#4c56bf]"
        >
            <div class="p-0 md:w-[50%]">
                <p class="text-[#FCFCFD] text-3xl font-rubik">
                    Find out if your resume passes ATS resume test
                </p>
                <p class="text-[#D0D5DD] py-4">
                    Tip: Score My Resume was bult with all applicant racking
                    systems in mind and acts as a powerful ATS resume test, ts
                    scanned correctly by our platform, you can be confident it
                    wil also be processed correctly by all ATS.
                </p>
                <button
                    class="bg-[#6938ef] hover:bg-[#6533ed] text-white py-2 px-5 md:py-3 md:px-8 rounded-lg"
                >
                    Get Your Free ATS Resume Scan
                </button>
            </div>
        </div>
        <div>
            <div class="p-0 md:w-[60%] text-[#FCFCFD]">
                <p class="text-3xl font-rubik">Features of Resume Screener</p>
                <p class="text-justify py-4">
                    Lorem ipsum door sit amet consectetur. Som volutpat accumsan
                    nunc fames nim cursus. mattis. Enim pharetra suspendisse
                    risus viverra, AGiiScing volpat 160. mi hendrerit convalls
                    semper. Massa senctus eget non arcu dignissim cursus. Lorem
                    fpsum dolor si. amet consectetur. Sem volutpat accumsan
                    nunc. ames enim cursus mats. Erm pharetra susponcisso risus
                    vivora. Adipiscing volutpat leo mi handrail convalis semper.
                    Massa sencctus eget non arcu dignissim cursus.
                </p>
                <button
                    class="bg-[#6938ef] hover:bg-[#6533ed] text-white py-2 px-5 md:py-3 md:px-8 rounded-lg"
                >
                    Resume Screener Tool
                </button>
            </div>
        </div>
    </div>
</div>