---
import Group1 from "/ATSResumeTest/Group 1.svg";
import Group2 from "/ATSResumeTest/Group 2.svg";
import Group3 from "/ATSResumeTest/Group 3.svg";
---

<div class="bg-[#0c1030]">
    <div class="p-10 md:p-16">
        <div
            class="border-solid border border-[#2a292c] rounded-lg p-6 md:p-8 bg-[#242845] overflow-hidden relative"
        >
            <div class="p-0 md:w-[50%]">
                <p class="text-[#FCFCFD] text-3xl font-rubik">
                    Find out if your resume passes ATS resume test
                </p>
                <p class="text-[#D0D5DD] py-4">
                    Tip: Score My Resume was bult with all applicant racking
                    systems in mind and acts as a powerful ATS resume test, ts
                    scanned correctly by our platform, you can be confident it
                    wil also be processed correctly by all ATS.
                </p>
                <button
                    class="bg-[#6938ef] hover:bg-[#6533ed] text-white py-2 px-5 md:py-3 md:px-8 rounded-lg mt-4"
                >
                    Get Your Free ATS Resume Scan
                </button>
                <img
                    src={Group1}
                    class="absolute w-[50%] h-auto right-[-6rem] bottom-[-12rem]"
                />
            </div>
        </div>
    </div>
    <div class="p-10 md:p-16 relative z-20">
        <div class="p-0 md:w-[60%] text-[#FCFCFD]">
            <p class="text-3xl font-rubik">Features of Resume Screener</p>
            <p class="text-justify py-4">
                Lorem ipsum door sit amet consectetur. Som volutpat accumsan
                nunc fames nim cursus. mattis. Enim pharetra suspendisse risus
                viverra, AGiiScing volpat 160. mi hendrerit convalls semper.
                Massa senctus eget non arcu dignissim cursus. Lorem fpsum dolor
                si. amet consectetur. Sem volutpat accumsan nunc. ames enim
                cursus mats. Erm pharetra susponcisso risus vivora. Adipiscing
                volutpat leo mi handrail convalis semper. Massa sencctus eget
                non arcu dignissim cursus.
            </p>
            <button
                class="bg-[#6938ef] hover:bg-[#6533ed] text-white py-2 px-5 md:py-3 md:px-8 rounded-lg mt-4"
            >
                Resume Screener Tool
            </button>
            <img
                src={Group2}
                class="absolute w-auto h-[100%] right-0 bottom-0 -z-10"
            />
            <img
                src={Group3}
                class="absolute w-auto h-[100%] left-0 bottom-0 -z-10"
            />
        </div>
    </div>
</div>